
.u-section-1 {
  background-image: url("images/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 170px auto 170px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  margin: 35px 315px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 14px 359px 0 20px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  border-style: none;
  margin: 21px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 705px;
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 296px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    position: relative;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    min-height: 607px;
    margin-top: 86px;
    margin-bottom: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 107px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -107px auto 19px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 98px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 427px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 97px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 45px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 764px;
}

.u-section-3 .u-group-1 {
  width: 779px;
  min-height: 181px;
  height: auto;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  margin: 24px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 16px auto 21px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 44px auto 0 20px;
  margin-top: 44px !important;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: -33px 0 0 117px;
  margin-top: 30px !important;
  
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -65px 53px 0 118px;
  margin-top:-65px !important;
  
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 189px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: -44px 27px 0 118px;
  margin-top: 20px !important;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -111px 0 0 117px;
  margin-top: -100px !important;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 187px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 44px auto 0 20px;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: -46px 0 0 117px;
  margin-top: 20px !important;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: -86px 0 0 117px;
  margin-top: -80px !important;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 556px;
}

.u-section-3 .u-image-1 {
  width: 640px;
  height: 563px;
  margin: -27px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 642px;
    margin-top: 26px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-top: -144px;
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -82px;
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    width: 510px;
    height: 532px;
    margin-top: 4px;
    margin-bottom: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -10px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 176px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -12px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 16px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 66px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 351px;
  }

  .u-section-3 .u-image-1 {
    width: 400px;
    height: 414px;
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-3 .u-group-1 {
    width: 542px;
    min-height: 238px;
    margin-top: -75px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 180px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 527px;
  }

  .u-section-3 .u-image-1 {
    width: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-group-1 {
    min-height: 288px;
    margin-top: -18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 175px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -12px;
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 27px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 332px;
  }

  .u-section-3 .u-image-1 {
    width: 390px;
    height: 470px;
    margin-bottom: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-group-1 {
  width: 700px;
  min-height: 163px;
  margin: 57px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px auto 50px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 162px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 20px 20px 15px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 15px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem !important;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 15px;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 162px;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 577px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 29px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    width: 124px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-5 {
    position: relative;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    width: 124px;
  }

  .u-section-4 .u-icon-6 {
    position: relative;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    width: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-4 {
    width: 139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 134px;
  }

  .u-section-4 .u-text-6 {
    width: 139px;
  }

  .u-section-4 .u-text-7 {
    width: 95px;
  }

  .u-section-4 .u-text-8 {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 414px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    width: 174px;
  }

  .u-section-4 .u-text-4 {
    width: 135px;
  }

  .u-section-4 .u-text-5 {
    width: 144px;
  }

  .u-section-4 .u-text-6 {
    width: 123px;
  }

  .u-section-4 .u-text-7 {
    width: 89px;
  }

  .u-section-4 .u-text-8 {
    width: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-3 {
    width: 158px;
    margin-bottom: 18px;
  }

  .u-section-4 .u-text-4 {
    width: 138px;
  }

  .u-section-4 .u-text-5 {
    width: 136px;
  }

  .u-section-4 .u-text-6 {
    width: 125px;
  }

  .u-section-4 .u-text-7 {
    width: 125px;
  }

  .u-section-4 .u-text-8 {
    width: 125px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 57px auto 57px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 437px;
}

.u-section-5 .u-image-1 {
  width: 402px;
  height: 337px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 437px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 335px;
    height: 281px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 857px;
}

.u-section-6 .u-group-1 {
  width: 840px;
  min-height: 203px;
  height: auto;
  margin: 69px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 0 10px;
}

.u-section-6 .u-text-2 {
  width: 556px;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 45px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 619px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-6 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-6 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.u-section-6 .u-link-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 43px auto -1px 20px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 490px;
}

.u-section-6 .u-image-2 {
  height: 304px;
  margin: 0 auto 45px 0;
}

.u-section-6 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.u-section-6 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-link-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 647px;
}

.u-section-6 .u-image-3 {
  height: 304px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 34px 20px 0;
}

.u-section-6 .u-text-8 {
  font-size: 0.875rem;
  margin: 3px 20px 0;
}

.u-section-6 .u-link-3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 614px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-2 {
    width: 458px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-link-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-link-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 471px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    width: 351px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    height: 233px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 441px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    width: 329px;
  }

  .u-section-6 .u-image-1 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-2 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-3 {
    height: 524px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    width: 276px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-6 .u-image-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-6 .u-image-2 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-6 .u-image-3 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-link-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 798px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 167px;
  margin: 32px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-7 .u-image-1 {
  width: 804px;
  height: 566px;
  margin: 0 auto 33px 157px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-image-1 {
    width: 752px;
    height: 427px;
    margin-left: 136px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-7 .u-group-1 {
    width: 504px;
    min-height: 174px;
    margin-top: 39px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-1 {
    width: 648px;
    height: 357px;
    margin-bottom: 75px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-7 .u-group-1 {
    width: 338px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-1 {
    height: 288px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-7 .u-group-1 {
    width: 283px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-1 {
    height: 189px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 665px;
}

.u-section-8 .u-group-1 {
  width: 570px;
  min-height: 145px;
  margin: 41px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 839px;
  margin: 15px auto 0 151px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 430px;
  background-image: none;
}

.u-section-8 .u-image-1 {
  height: 306px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 20px 15px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 430px;
}

.u-section-8 .u-image-2 {
  height: 306px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 20px 15px;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 430px;
}

.u-section-8 .u-image-3 {
  height: 306px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 20px 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 470px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 692px;
    margin-top: 16px;
    margin-bottom: 65px;
    margin-left: 124px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-8 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 429px;
  }

  .u-section-8 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 360px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 530px;
    margin-left: 95px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-image-3 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-8 .u-group-1 {
    width: 439px;
    min-height: 174px;
    margin-top: 37px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 295px;
    margin-top: 15px;
    margin-bottom: 70px;
    margin-left: 123px;
  }

  .u-section-8 .u-image-1 {
    height: 527px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-2 {
    height: 527px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-image-3 {
    height: 527px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-8 .u-group-1 {
    min-height: 199px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-left: 23px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-8 .u-image-1 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-8 .u-image-2 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-8 .u-image-3 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 599px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 157px;
  margin: 47px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 20px 15px;
}

.u-section-9 .u-form-1 {
  height: 314px;
  width: 737px;
  margin: 16px auto 60px;
}

.u-section-9 .u-form-group-4 {
  text-align: center;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-group-1 {
    width: 470px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-form-1 {
    width: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 360px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 338px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-form-1 {
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 283px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

}
.switchBtn {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}