.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-size: 10.5rem;
  font-weight: 700;
  margin: 60px 107px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-family: Montserrat, sans-serif;
  margin: 40px 20px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 205px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  align-self: center;
  margin: 20px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 105px;
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 70px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 557px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 291px;
  height: 291px;
  background-image: none;
  margin: 20px 60px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: -131px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 272px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/c5e02fce-c0d2-0d86-c803-4283c6a5fc9f.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 172px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-right: 62px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 500px;
    height: 500px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-2 .u-shape-1 {
    width: 251px;
    height: 251px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 939px;
}

.u-section-3 .u-image-1 {
  width: 646px;
  height: 754px;
  margin: 70px 0 0 auto;
}

.u-section-3 .u-list-1 {
  min-height: 593px;
  width: 613px;
  grid-auto-rows: 100%;
  margin: -673px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-rows: calc(33.33% - 14.6667px);
  grid-gap: 22px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-3 .u-image-1 {
    width: 687px;
    height: 829px;
    margin-top: 113px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 505px;
    margin-top: -748px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 121px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-list-1 {
    width: 621px;
    margin-top: -100px;
    margin-bottom: 37px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 652px;
    margin-top: 103px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 495px;
    margin-top: -43px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-3 .u-image-1 {
    width: 440px;
    height: 621px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-list-1 {
    width: 323px;
    margin-top: -124px;
    margin-left: 8px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 738px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-line-1 {
  width: 281px;
  height: 16px;
  transform-origin: left center;
  margin: 33px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 137px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 30px 136px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  align-self: center;
  margin: 38px auto 0 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 606px;
}

.u-section-5 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 52px;
  min-height: 500px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-size: 1.5rem;
  width: 747px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-image-1 {
  width: 152px;
  height: 152px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: 20px 478px 0 450px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 438px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  width: 747px;
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-5 .u-image-2 {
  width: 152px;
  height: 152px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  width: 237px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  top: 224px;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 65px;
    margin-bottom: -152px;
    min-height: 568px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    margin-left: 350px;
    margin-right: 378px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 338px;
    margin-right: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 240px;
    margin-right: 268px;
  }

  .u-section-5 .u-text-2 {
    width: 273px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 273px;
    margin-top: 31px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-slider-1 {
    min-height: 500px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 557px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 1;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  margin: 35px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 538px;
  height: 538px;
  background-image: url("images/f0efcac2-fcbb-b787-5e1c-2b850adff85d.jpg");
  background-position: 50% 50%;
  margin: 27px auto 0 3px;
}

.u-section-6 .u-shape-1 {
  width: 210px;
  height: 210px;
  background-image: none;
  margin: -161px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-6 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 202px;
    height: 202px;
    margin-top: -135px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 808px;
  }

  .u-section-6 .u-image-1 {
    width: 336px;
    height: 336px;
    margin-top: 85px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-1 {
    width: 172px;
    height: 172px;
    margin-top: -92px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    width: 216px;
    height: 216px;
    margin-top: -144px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-6 .u-image-1 {
    width: 292px;
    height: 292px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 146px;
    height: 146px;
    margin-top: -81px;
    margin-right: 28px;
  }
}