body{
    margin: 5px;
    padding: 5px;
}

.titulo{
    font-family: fantasy;
    font-size: larger;
}

#c1{
    border-color: red;
}

#c2{
    border-color: blue;
}

#c3{
    border-color: green;
}

#c4{
    border-color: orange;
}

p{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

select option{
    font-family:monospace;
}

.opc{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input:focus{
    color:chocolate;
    background-color:beige;
}

.titForms{
    font-size:60px;
    color:cornflowerblue;
    font-style: oblique;
    text-shadow: 3px 3px lightgreen;
    margin-top: -15px;
}

img{
    display: inline-flex;
    margin-left: 80%;
}

.boton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(70, 70, 255);
    border-color: white;
    border-width: 1px;
}

#botones{
    margin-left: 40%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
}

#delMun{
    width: 180px;
}